<% layout('/layouts/boilerplate')%>
<h1>Register</h1>
<form class="validated-form" action="/register" method="post" novalidate>
  <div class="mb-3">
    <label class="form-label" for="username">Username:</label>
    <input class="form-control" type="text" name="username">

    <label class="form-label" for="email">Email:</label>
    <input class="form-control" type="email" name="email">

    <label class="form-label" for="password">Password:</label>
    <input class="form-control" type="password" name="password"><br>

   <button type="submit" class="btn btn-success">SignUp</button>
  </div>
</form>
